.pagination {
  gap: 0.8rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.visible-pages {
  gap: 0.8rem;
  display: flex;
}
@media (max-width: 768px) {
  .visible-pages {
    display: none;
  }
}
