.project-grid {
  gap: 1.2rem;
  width: 100%;
  display: grid;
  padding: 2rem;
  min-height: 729px;
  background: var(--container-background-color);
  grid-template-columns: repeat(1, 1fr); // Mobile

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr); // Tablet
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr); // Desktop
  }
}
