:root {
  --primary-color: #0f172a;
  --secondary-color: #7488ab;
  --accent-color: #ff6b35;

  --text-color: #eff1f5;

  --primary-button-text: #eff1f5;
  --primary-button-disabled: #718096;
  --primary-button-bg: #1e293b;

  --secondary-button-text: #1e293b;
  --secondary-button-disabled: #3b4554;
  --secondary-button-bg: #eff1f5;

  --card-background: #1e293b;
  --background-color: #111827;
  --background-dark-color: #090e18;
}
