/////// Available Colors ///////

:root {
  /* Branding */
  --primary-darkest: #ad2b00;
  --primary-dark: #d13400;
  --primary-default: #f35100;
  --primary-light: #fb8951;
  --primary-lightest: #f7c1a6;

  --secondary-darkest: #00237c;
  --secondary-dark: #002b9a;
  --secondary-default: #0a4fe3;
  --secondary-light: #4e86ff;
  --secondary-lightest: #7aa1f6;

  --tertiary-darkest: #906000;
  --tertiary-dark: #c58605;
  --tertiary-default: #f5b300;
  --tertiary-light: #f5c950;
  --tertiary-lightest: #fedb79;

  /* Neutrals */
  --white: #fff;
  --dark: #131313;
  --inherit: inherit;
  --gray-1: #fcfcfc;
  --gray-2: #ececec;
  --gray-3: #c3c3c3;
  --gray-4: #9d9aab;
  --gray-soft: #eaebf3;
  --gray-medium: #e2e3ed;
  --gray-bluish: #ced1e9;
  --gray-bluish-strong: #d4d6e8;
  --gray-bluish-stronger: #898ebd;
  --transparent: transparent;

  /* Semantic */
  --info: #00bbff;
  --alert: #f4973c;
  --success: #00e2ad;
}

/////// Theme Colors ///////

/* Default */

body {
  --text-color: var(--dark);
  --text-primary-variation-color: var(--primary-dark);
  --text-secondary-variation-color: var(--secondary-dark);
  --text-tertiary-variation-color: var(--tertiary-dark);
  --text-low-contrast-variation-color: var(--gray-bluish-stronger);

  --link-color: var(--primary-default);
  --link-color-hover: var(--primary-dark);

  --button-color: var(--dark);
  --button-color-hover: var(--secondary-darkest);
  --button-background-color: var(--gray-bluish-strong);
  --button-background-color-hover: var(--gray-bluish);

  --button-disabled-color: var(--gray-4);
  --button-disabled-background-color: var(--gray-bluish-strong);

  --container-background-color: var(--gray-soft);
  --container-background-color-alternative: var(--gray-medium);
}

/* Dark */
body.dark {
  --text-color: var(--gray-soft);
  --text-primary-variation-color: var(--primary-lightest);
  --text-secondary-variation-color: var(--secondary-lightest);
  --text-tertiary-variation-color: var(--tertiary-lightest);
  --text-low-contrast-variation-color: var(--secondary-light);

  --link-color: var(--white);
  --link-color-hover: var(--primary-light);

  --button-color: var(--gray-bluish);
  --button-color-hover: var(--gray-bluish-strong);
  --button-background-color: var(--primary-default);
  --button-background-color-hover: var(--primary-dark);

  --button-disabled-color: var(--gray-2);
  --button-disabled-background-color: var(--primary-light);

  --container-background-color: var(--secondary-dark);
  --container-background-color-alternative: var(--secondary-darkest);
}
