.navigation {
  ul {
    padding: 0;
    gap: 1.4rem;
    display: flex;
    justify-content: center;

    a {
      color: var(--secondary-color);
      font-weight: bold;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &.mobile {
    width: 100%;
    background-color: var(--background-color);

    ul {
      width: 100%;
      font-size: 1.5rem;
      flex-direction: column;
      padding: 1rem;
    }

    li {
      margin: 0.5rem auto;
      text-align: center;
    }
  }
}
