.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;

  svg {
    width: 35px;
    height: 35px;
    line {
      stroke: var(--link-color);
      transition: all 0.2s ease-in-out;
    }

    &:hover line {
      stroke: var(--link-color-hover);
    }
  }
}
