.burger-button {
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  background: none;
  position: absolute;
  &:hover {
    background: none;
  }

  svg {
    width: 35px;
    height: 35px;
    line {
      stroke: var(--link-color);
      transition: all 0.2s ease-in-out;
    }

    &:hover line {
      stroke: var(--link-color-hover);
    }
  }
}
