.link:link,
.link:visited,
.link:active {
  max-width: max-content;
  color: var(--link-color);
  transition: all 0.2s ease;

  &.bold {
    font-weight: bold;
  }

  &:hover {
    color: var(--link-color-hover);
  }

  path {
    transition: inherit;
  }

  &.color-primary {
    color: var(--text-primary-variant-color);
    &:hover {
      color: var(--link-primary-variant-hover-color);
    }
  }

  &.color-secondary {
    color: var(--text-secondary-variant-color);
    &:hover {
      color: var(--link-secondary-variant-hover-color);
    }
  }

  &.color-tertiary {
    color: var(--text-tertiary-variant-color);
    &:hover {
      color: var(--link-tertiary-variant-hover-color);
    }
  }

  &.color-low-contrast {
    color: var(--text-low-contrast-variant-color);
    &:hover {
      color: var(--link-low-contrast-variant-hover-color);
    }
  }
}
