.link:link,
.link:visited,
.link:hover,
.link:active {
  max-width: max-content;
  color: var(--link-color);
  transition: all 0.2s ease;

  &.bold {
    font-weight: bold;
  }
  &.color-primary {
    color: var(--text-primary-variant-color);
  }
  &.color-secondary {
    color: var(--text-secondary-variant-color);
  }
  &.color-tertiary {
    color: var(--text-tertiary-variant-color);
  }
  &.color-low-contrast {
    color: var(--text-low-contrast-variant-color);
  }

  svg,
  path {
    transition: all 0.2s ease;
  }
}

.link:hover {
  color: var(--link-color-hover);
  svg,
  path {
    fill: var(--link-color-hover);
  }
}
