.page-container {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 0 1rem;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--container-background-color);
}
