.button {
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  color: var(--button-color);
  background-color: var(--button-background-color);

  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;

  &:hover {
    color: var(--button-color-hover);
    background-color: var(--button-background-color-hover);
  }

  &.size-small {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.2rem;
  }

  &.size-big {
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    border-radius: 0.4rem;
  }

  &.color-primary {
    color: var(--button-primary-variant-color);
    background-color: var(--button-primary-variant-background-color);
    &:hover {
      background-color: var(--button-primary-variant-background-hover-color);
    }
  }
  &.color-secondary {
    color: var(--button-secondary-variant-color);
    background-color: var(--button-secondary-variant-background-color);
    &:hover {
      background-color: var(--button-secondary-variant-background-hover-color);
    }
  }
  &.color-tertiary {
    color: var(--button-tertiary-variant-color);
    background-color: var(--button-tertiary-variant-background-color);
    &:hover {
      background-color: var(--button-tertiary-variant-background-hover-color);
    }
  }
  &.color-transparent {
    min-width: 0;
    background-color: var(--button-transparent);
    &:hover {
      color: var(--link-color-hover);
    }
  }

  &.bold {
    font-weight: bold;
  }
  &.min-width-90 {
    min-width: 90px;
  }
  &.min-width-120 {
    min-width: 120px;
  }
  &.min-width-150 {
    min-width: 150px;
  }
  &.min-width-180 {
    min-width: 180px;
  }
  &.min-width-220 {
    min-width: 220px;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-background-color);
    &:hover {
      background-color: var(--button-disabled-background-color);
    }
  }
}
